<%= provide(:title, 'ユーザー登録')%>
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">
        <div class="card-body">
          <h5 class="card-title text-center">新規登録</h5>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field">
                <%= f.label :ユーザー名%><br />
                <%= f.text_field :username, class: 'form-control' %>
              </div>

              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
              </div>

              <div class="field">
                <%= f.label :パスワード %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> 文字以上)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
              </div>

              <div class="field">
                <%= f.label :パスワード確認 %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
              </div>

              <hr>

              <div class="actions">
                <%= f.submit "Sign up" %>
              </div>

              <button class="btn btn-lg btn-twitter btn-block text-uppercase" type="submit">
              <i class="fab fa-twitter mr-2"></i>
                <%= link_to "Sign up with Twitter", 
                  user_twitter_omniauth_authorize_path, method: :post %>
              </button>
              
              <%= render "devise/shared/links" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>