<!--コメントのテンプレート-->
<div class="comment-area">
  <% post_comments.each do |c| %>
  <div class="square">
    <div class="media">
      <% unless c.user.blank? %>
        <div class="bd-placeholder-img mr-3" width="64" height="64">
          <% if c.user.image? %>
            <%= image_tag c.user.image.url, class: "icon-success"%>
          <% else %>
            <%= image_tag "default.jpeg", class: "icon-default" %>
          <% end %>
        </div>
      <% end %>
        
      <div class="media-body">
        <h5 class="mt-0"><%= c.user.username unless c.user.blank? %></h5>
        <%= c.content %>
        <% if c.user == current_user %>
          <p class="comment-delete">
            <%= link_to "削除", 
                        post_post_comment_path(c.post_id, c.id), 
                        method: :delete, 
                        data: { confirm: "本当に削除しますか？" },
                        remote: true %>
        <% end %></p>
      </div>
    </div>
    </div>
    <details>
      <summary><%= c.post_comment_replies.count %>件の返信を表示</summary>
        <%= render partial: 'post_comment_replies/index', locals: { comment: c } %>
    </details>
  <% end %>
</div>
