<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-6">
        <div class="card mb-6">
          <%= link_to post do %>
            <% if @user.image? %>
              <%= image_tag @user.image.url, size: 9*9, class: "card-icon" %>
            <% else %>
              <%= image_tag "default.jpeg", size: 9*9, class: "card-icon"%>
            <% end %>
            <%= image_tag random_image, class: "card-image" %>
              <div class="card-wrapper">
                <div class="card-body">
                  <p class="card-text"><%= post.title %></p>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>