<div class="user-edit">
  <div class="container">
    <div class="row">
      <div class="card">
      <%= form_with(model: @user, local: true) do |f| %>

        <div class="form-group">
          <%= f.label :ユーザー名 %>
          <%= f.text_field :username, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :プロフィール %>
          <%= f.text_area :description, size: "20*10", class: "form-control" %>
        </div>

         <hr class="border-line">

        <div class="accbox">
          <label for="label1">パスワードを変更する方はこちら</label>
          <input type="checkbox" id="label1" class="cssacc" />
          <div class="accshow">
            <div class="form-group">
              <%= f.label :新しいパスワード %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上)</em>
              <% end %><br />
              <%= f.password_field :password, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :パスワード確認%>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
          </div>
        </div>

        <%= f.submit "変更する", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>
    </div>
  </div>
</div>