<div class="user">
  <div class="row">
    <div class="col-sm-12">
      <div class="wrapper">
        <div class="page-header clear-filter page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image:url('../assets/img/bg5.jpg');">
      </div>

        <div class="container">
          <%= link_to "プロフィール編集", edit_user_path, class: "edit-content" %>
          <div class="photo-container">
          <% if @user.image? %>
            <%= image_tag @user.image.url, size: 12*12, class: "image_icon" %>
          <% else %>
            <%= image_tag "default.jpeg", size: 12*12, class: "image_icon" %>
          <% end %>
          </div>

          <h3 class="title"><%= @user.username %></h3>
            <p class="category">アジング、フカセ、カゴ釣り</p>

          <div class="content">
            <div class="social-description">
              <h2><%= @user.posts.count %></h2>
              <p>投稿数</p>
            </div>
            <div class="social-description">
              <h2><%= @user.post_comments.count %></h2>
              <p>コメント数</p>
            </div>
            <div class="social-description">
              <h2><%= @user.likes.count %></h2>
              <p>いいね数</p>
            </div>
          </div>
        </div>
    </div>

      <div class="section">

          <div class="intro-card">
            <h3 class="intro">自己紹介</h3>
              <h5 class="description"><%= @user.description %></h5>
          </div>

            <h4 class="post-title text-center">投稿一覧</h4>
              <div class="album>
                <%= render 'users/posts' %>
              </div>
        </div>
      </div>
  </div>
</div>

