<% provide(:title, 'ログイン') %>
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">
        <div class="card-body">
          <h5 class="card-title text-center">ログイン</h5>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>

              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "current-password" %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>

              <hr>

                <div class="actions">
                  <%= f.submit "Log in" %>
                </div>

              <button class="btn btn-lg btn-twitter btn-block text-uppercase" type="submit">
              <i class="fab fa-twitter mr-2"></i>
                <%= link_to "Sign up with Twitter", 
                  user_twitter_omniauth_authorize_path, method: :post %>
              </button>
                
              <%= render "devise/shared/links" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>