<div class="post-form">
  <div class="container">
    <div class="row">
      <div class="form-card">
        <div class="title">
          <h1>У│фтЋЈ­ЪњА</h1>
        </div>
        <%= form_with(model: @post, local: true) do |f| %>
          <div class="form-title">
            <%= f.label :title, "сѓ┐сѓцсЃѕсЃФ" %>
            <div class="input-wrap">
              <%= f.text_field :title, class: "form-control" %>
            </div>
            <small id="title-tip" class="form-text text-muted">
              сѓ┐сѓцсЃѕсЃФсѓњтЁЦтіЏсЂЌсЂдсЂЈсЂасЂЋсЂёсђѓ
            </small>
          </div>

          <div class="form-content">
            <%= f.label :content, "ТіЋуе┐тєЁт«╣"%>
            <%= f.text_area :content, size: "20x10", class: "form-control" %>
            <small id="title-tip" class="form-text text-muted", rows:10>
              ТіЋуе┐тєЁт«╣сѓњтЁЦтіЏсЂЌсЂдсЂЈсЂасЂЋсЂёсђѓ
            </small>
          </div>

          <div class="submit">
            <%= f.submit "ТіЋуе┐", class: "btn btn-info btn-lg" %>
            <small id="submit-tip" class=" form-text text-muted">
              ТіЋуе┐сЂЎсѓІтЅЇсЂФтєЁт«╣сѓњсЂћуб║УфЇсЂЈсЂасЂЋсЂё№╝Ђ
            </small>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>