<div class="post-show">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="post-card">
          <div class="card-header">
            <h1 class="header-title"><%= @post.title%></h1>
              <p class="header-content"><%= @post.content %></p>
            <%= link_to user_path(@user) do %>
              <div class="d-flex ">
                <%= image_tag "book.png", size: 6*6, class: "image_icon"%>
                 <p class="user-name"><%= @user.username %>さんの投稿</p>
              </div>
            <% end %>
          </div>
          
          <h4 class="comment-box">コメント一覧</h4>
        
          <hr class="border-first">
        
          <!--コメントのテンプレート-->
          <% @comments.each do |c| %>
            <div class="media">
              <% unless c.user.blank? %>
                <svg class="bd-placeholder-img mr-3" 
                  width="64" height="64" xmlns="http://www.w3.org/2000/svg" 
                  preserveAspectRatio="xMidYMid slice" focusable="false" 
                  role="img" aria-label="Placeholder: 64x64"><title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#868e96"/>
                  <text x="50%" y="50%" fill="#dee2e6" dy=".3em">64x64</text></svg>
              <% end %>
                
              <div class="media-body">
                <h5 class="mt-0"><%= c.user.username unless c.user.blank? %></h5>
                <br />
                <%= c.content %>
                <% if c.user == current_user %>
                  <p class="comment-delete"><%= link_to "削除", 
                                                post_post_comment_path(c.post_id, c.id), 
                                                data: {confirm: '本当に削除しますか？'}, 
                                                method: :delete %>
                <% end %>

              
              </div>
            </div>
            <hr class="border-center">
          <% end %>

          <% if user_signed_in? %>
            <%= form_with(model: [@post, @comment], local: true) do |f| %>
              <div class="form-comment">
                <%= f.text_area :content, class: "form-control", rows: 3 %>
                  <%= button_tag type: "submit", class: "btn btn-success float-right mt-1" do %>
                    <i class="far fa-comments"></i> コメントする
                  <% end %>
                <% end %>
              </div>
          <% end %>
           
        </div>
      </div>
    </div>
  </div>
</div>