<div class="post-show">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="post-card">
          <div class="card-header">
            <h1 class="header-title"><%= @post.title%></h1>
              <p class="header-content"><%= @post.content %></p>
            <%= link_to user_path(@post.user_id) do %>
              <div class="d-flex ">
                <%= image_tag "book.png", size: 6*6, class: "image_icon"%>
                 <p class="user-name"><%= @post.user.username %>さんの投稿</p>
              </div>
            <% end %>
          </div>
          
          <h4 class="comment-box">コメント一覧</h4>
          <hr class="border-first">
        
          <!--コメントのテンプレート-->
          <%= render 'post_comments/index' %>

          <!--送信ボタンのテンプレート-->
          <%= render 'post_comments/form' %>
           
        </div>
      </div>
    </div>
  </div>
</div>