<div class="post-show">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="post-card">
          <div class="card-header">
            <h1 class="header-title"><%= @post.title%></h1>
              <p class="header-content"><%= @post.content %></p>
            <%= link_to user_path(@post.user_id) do %>
              <div class="d-flex ">
                <% if @post.user.image? %>
                  <p><%= image_tag @post.user.image.url, size: 6*6, class: "image_icon" %></p>
                <% else %>
                  <p><%= image_tag "default.jpeg", size: 6*6, class: "image_icon"%></p>
                <% end %>
                 <p class="user-name"><%= @post.user.username %>さんの投稿</p>

                <div id="like-btn-<%= @post.id %>">
                  <p class="like">
                    <%= render partial: "likes/like", locals: { post: @post } %>
                  </p>
                </div>
              </div>
            <% end %>

          </div>
          
          <h4 class="comment-box">コメント一覧</h4>
          <hr class="border-first">
        
          <!--コメントのテンプレート-->
          <div id="comments_area">
          <%= render partial: 'post_comments/index', locals: { post_comments: @comments } %>
          </div>

          <!--送信ボタンのテンプレート-->
          <%= render partial: 'post_comments/form', locals: { post_comment: @comment, post: @post} %>
           
        </div>
      </div>
    </div>
  </div>
</div>